<!--#Листинг 3.28: Представление для страницы Home с заголовком на основе встроенного Ruby. ЗЕЛЕНЫЙ app/views/static_pages/home.html.erb
#Листинг 3.33: Страница Home с удаленной HTML-структурой. ЗЕЛЕНЫЙ app/views/static_pages/home.html.erb 
Листинг 5.2: Home-страница со ссылкой на страницу регистрации. app/views/static_pages/home.html.erb :5.34  11.35  :11.47 12.17-->

<% if logged_in? %>
     <div class="row">
         <aside class="col-md-4">
               <section class="help">
                       <%#= render 'shared/user_info' %>
                         <%= render 'shared/help' %>
 <%#=no render 'shared/index' %>   
               </section>
               
<section class="stats">
                       <%#= render 'shared/about' %>
               </section>

               <section class="micropost_form">
                  <%#= render 'shared/micropost_form' %>
                </section>
         </aside>

     <!--     <div class="col-md-8">
                <h3>#Micropost Feed</h3>
                <%#= render 'shared/feed' %>
          </div>  -->
     </div>

<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Ministry for Students</h1>

    <h2>
      This is the home page for the
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
<% end %>

