<% if logged_in? %>
     <div class="row">
         <aside class="col-md-4">
               <section class="user_info">
                       <%= render 'shared/allstudents' %>
               </section>
               <section class="stats">
                       <%#= render 'shared/stats' %>
               </section>

               <section class="micropost_form">
                  <%#= render 'shared/micropost_form' %>
                </section>
         </aside>

          <div class="col-md-8">
                <h3>Micropost Feed</h3>
                <%#= render 'shared/feed' %>
          </div>
     </div>
<% end %>
