<%# if logged_in? %>
     <div class="row">
         <aside class="col-md-4">
               <section class="user_info">
                       <%= render 'shared/user_info' %>
               </section>
<% #end %>

<div class="row">
         <aside class="col-md-4">
               <section class="user_info">
                       <%= render 'shared/listingstud' %>
               </section>

<div class="row">
         <aside class="col-md-4">
               <section class="user_info">
                       <%= render 'shared/stats' %>
               </section>

 <section class="listing">
                       <%= render 'app/views/shared/user_info' %>
               </section>


#listingstud_form
