
<% provide(:title, "_form in/views/students/") %>

 <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@student) do |f| %>
      <%##= render 'shared/error_messages', object: f.object %>     

<div class="field">
    <%= f.label :userid %><br>
    <%= @student.user.id %>
  </div>



<div class="field">
    <%= f.label :username %><br>
    <%#= @student.user.name %>
  </div>

<div class="field">
    <%= f.label :fio %><br>
    <%= f.text_field :fio %>
  </div>

  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :fio %><br>
    <%= f.text_field :fio %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :creditbook %><br>
    <%= f.text_field :creditbook %>
  </div>
  <div class="field">
    <%= f.label :creditbooksigned %><br>
    <%= f.date_select :creditbooksigned %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :allowed %><br>
    <%= f.check_box :allowed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


  </div>
</div




