<!--#Листинг 2.7: Представление index для пользователей. app/views/users/index.html.erb
#Листинг 2.7: Представление index для пользователей. app/views/users/index.html.erb 
#Листинг 9.34: Представление для списка пользователей. app/views/users/index.html.erb-->
#:9.41
<% provide(:title, 'All students') %>
<h1>All students</h1>
<%= will_paginate %>

<ul class="students">
  <% @students.each do |student| %>
    <li>
      <%#= gravatar_for user, size: 50 %>
      <%= link_to student.fio, student %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>

