#Oct18 students/1
<%= @student.user.name %> <%= @student.fio %>  <%= @student.about %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @student.country %>
</p>

<p>
  <strong>Fio:</strong>
  <%= @student.fio %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @student.firstname %>
</p>

<p>
  <strong>Creditbook:</strong>
  <%= @student.creditbook %>
</p>

<p>
  <strong>Creditbooksigned:</strong>
  <%= @student.creditbooksigned %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Allowed:</strong>
  <%= @student.allowed %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
