<h1>Edit student /views/students/_form</h1>
<!-- <h1>users /views/users/_form</h1> -->


<%#= render "static_pages/help" %>
<%#no works!= render "/views/users/_form" %>

<%#no works! = render "users/edit.html.erb" %>

<%#= link_to 'Show', @student %> |
<%#= link_to 'Back', students_path %>




