<!--#Листинг 2.7: Представление index для пользователей. app/views/users/index.html.erb
Листинг 2.7: Представление index для пользователей. app/views/users/index.html.erb 
Листинг 9.34: Представление для списка пользователей. app/views/users/index.html.erb
Листинг 9.46: Первая попытка рефакторинга index-представления. app/views/users/index.html.erb -->

<% provide(:title, 'All users') %>
<h1>All studentsfio</h1>
<ul class="students">
  <% @students.each do |student| %>
    <%#= render  'shared/student' %>

     <li>
           <%#= gravatar_for user, size: 50 %>
           <%= link_to student.fio, student %>
      </li>
  <% end %>
</ul>
<%#= will_paginate %>

