<!--#libr  Sept 01 Листинг :7.4 7.10: Добавление боковой панели к представлению пользователя show. app/views/users/show.html.erb
#Листинг 7.4:Листинг 7.8:Листинг 7.10 Листинг 7.10: Добавление боковой панели к представлению пользователя show. app/views/users/show.html.erb :11.23  :12.23   @student.fio -->

<% provide(:title,@user.name ) %>
<div class="row">
       <aside class="col-md-4">
              <section class="user_info">
                    <h1>    <%= gravatar_for @user %>  
                         <%= @student.fio %><p>
                             <!--works!  <% if @user.students.any? %>  
                                 <h3>Students Num (<%= @user.students.count %>)</h3><p> -->
                               <ol class="students">
                                           <%#no!= render @students %> 
                               </ol>
                     </h1>
<% end %>
               </section>
        </aside>
      <div class="col-md-8">
       <%#= render 'follow_form' if logged_in? %>   

     <% if @student.user.microposts.any? %>
           <h3>Microposts (<%= @student.user.microposts.count %>)</h3>
           <ol class="microposts">
             <%= render @student.user.microposts %>
           </ol>
           <%#= will_paginate @microposts %>
         <% end %>
       </div>
</div>




