<!--#Листинг 9.47: Партиал для отображения отдельно взятого пользователя. app/views/users/_user.html.erb

<li>
  <%#= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
<%= link_to user.name, user %>
</li>

