<!-- #Листинг 12.21: Форма для того, чтобы начать читать сообщения пользователя. app/views/users/_follow.html.erb :12.33  
12.21
<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>

Листинг 12.22: Форма для того, чтобы перестать читать сообщения пользователя. app/views/users/_unfollow.html.erb -->

<%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
             html: { method: :delete }) do |f| %>
  <%= f.submit "Unfollow", class: "btn" %>
<% end %>


