#Листинг 9.34: Представление для списка пользователей. app/views/users/index.html.erb

<% provide(:title, 'All users') %>
<h1>All users</h1>

<ul class="users">
  <% @students.each do |student| %>
    <li>
      <%#= gravatar_for user, size: 50 %>
      <%#= link_to user.name, user %>
    </li>
  <% end %>
</ul>
#####
<!-- #Листинг 11.36: Партиал для боковой панели с информацией о пользователе. app/views/shared/_user_info.html.erb -->
#Oct18 students/1
<%#= link_to gravatar_for(current_user), current_user %>
<p>current_user.name <%= current_user.name %>


<h1>current_user.students.count = <%= current_user.students.count %> <%#= current_user.student.fio %></h1>

 <span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>
<%#  = @student.user.name %>
<% #end %>


