<li id="student-<%= student.id %>"
  
<span class="student"><%= link_to student.user.name, student.user %>
          <%= link_to student.user.name, student.user %></span>
     <span class="fio"> <%= student.fio %>
</span>
  
</li>
