<!--#Листинг 11.21: Партиал для отображения единичного микросообщения. app/views/microposts/_micropost.html.erb 11.49 Листинг 11.59: Добавление изображения к микросообщению. app/views/microposts/_micropost.html.erb -->
<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>

<%= image_tag micropost.picture.url if micropost.picture? %>

  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
<% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
