<!--# Листинг 5.10: Партиал для заголовка сайта. app/views/layouts/_header.html.erb Листинг 8.16: Изменение ссылок шаблона для вошедших пользователей. app/views/layouts/_header.html.erb :9.4- 9.36   -->

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Febr_28 sqlite3 Oct25 min for stud", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>

<li><a href="http://library22.1gb.ua/">Library</a></li>
</ul>
<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">     
           Students <b class="caret"></b>
        </a>
          <ul class="dropdown-menu">
              <li><%= link_to "All Studentsfio", students_path %></li>
              <li><%#= link_to "edit Student", edit_student_path(current_student) %></li>
              <li><%#= link_to "Students/show", student_path(current_student) %></li>
         </ul>
</li>    

 <% if logged_in? %>  
          <li><%= link_to "Users", users_path %></li>
          <li><%#= link_to "ListingStudentsShow", students_path %></li>
           
<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">     
           Students <b class="caret"></b>
        </a>
          <ul class="dropdown-menu">
              <li><%= link_to "All Studentsfio", students_path %></li>
              <li><%= link_to "edit Student", edit_student_path(current_student) %></li>
              <li><%= link_to "Students/show", student_path(current_student) %></li>
           </ul>
</li>

<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">  
                   Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                   <li><%= link_to "mymicrposts/Profile/usersshow", current_user %></li>
                   
                   <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                   <li class="divider"></li>
                   <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            </ul>
                 </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

