<!-- #Листинг 3.32: Макет сайта учебного приложения. ЗЕЛЕНЫЙ app/views/layouts/application.html.erb 
Листинг 4.3: Шаблон сайта с хелпером full_title. ЗЕЛЕНЫЙ app/views/layouts/application.html.erb 
Листинг 5.1: Шаблон сайта с добавленными структурами. app/views/layouts/application.html.erb
Листинг 5.8: Макет сайта с партиалами для таблицы стилей и заголовка. app/views/layouts/application.html.erb
Листинг 5.12: Макет сайта с партиалом подвала. app/views/layouts/application.html.erb
:7.1 :7.25 -->
<<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>

    </div>
  </body>
</html>
